<div class="container-fluid footer">
    <div class="row">
        <!--name-->
        <div class="col-lg-6">
            <h1>Grill House</h1>
            <p>“Les rires éclatent mieux lorsque la nourriture est bonne.”</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="contact">Contact</a>
            <a routerLink="about">À propos</a>
        </div>
        <!--Social media-->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/grillhouse.06/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.facebook.com/grillhouse.06/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/grillhouse10/?hl=fr" target="_blank"><i class="bi bi-instagram"></i></a>

        </div>
    </div>
</div>