<div class="container mt-5 mb-5">
  <div class="row">
    <div class="">
      <h1 class="text-center">Nos coordonnés</h1>
      <p class="mb-5"><a  class="cor" href="mailto:Zayd.laasri@gmail.com">Envoyer un mail</a></p>

      <p class="mb-5"><a class="cor" href="tel:0950471940">Nous appeler sur 09 50 47 19 40</a></p>

      <h3>Comment se rendre au restaurant</h3>
      <p>
        5 Rue Arson, 06300, Nice, France
        <a target="_blank"
          href="https://www.google.com/maps/place/Grill+house+nice/@43.6994909,7.2841312,17z/data=!4m10!1m2!2m1!1sGrill+House+5+Rue+Arson+06300!3m6!1s0x12cddb5d15a79b9f:0x528b9a868ebd1a0e!8m2!3d43.6994909!4d7.2863199!15sCh1HcmlsbCBIb3VzZSA1IFJ1ZSBBcnNvbiAwNjMwMFofIh1ncmlsbCBob3VzZSA1IHJ1ZSBhcnNvbiAwNjMwMJIBE2xlYmFuZXNlX3Jlc3RhdXJhbnTgAQA!16s%2Fg%2F11j0w4ddtf"
          >Voir le plans</a
        >
      </p>
      <h3>Horaires d'ouverture</h3>
      <pre>
        Lundi     12:00 - 14:30         19:00 - 22:30
        Mardi     12:00 - 14:30         19:00 - 22:30
        Mercredi  12:00 - 14:30         19:00 - 22:30
        Jeudi     12:00 - 14:30         19:00 - 22:30
        Vendredi  12:00 - 14:30         19:00 - 22:30
        Samedi    12:00 - 14:30         19:00 - 22:30
        Dimanche  12:00 - 14:30         19:00 - 22:30
    </pre
      >
    </div>
  </div>
</div>
