<div class="container mt-5 mb-5">
  <h1 class="text-center">À propos du restaurant</h1>
  <p>
    Le restaurant Grill house nice à Nice propose de la livraison, une bonne
    adresse halal pour manger libanais sur Mon Resto' Halal. Spécialités :
    Libanais, Végétarien, Moyen-Orient, Méditerranéen.
    <br />
  </p>
  <h2>Les spécialités</h2>
  <p>
    Les spécialités proposées par le restaurant : Libanais, Végétarien,
    Moyen-Orient, Méditerranéen.
  </p>
  <h2>Découvrir la cuisine libanaise</h2>
  <p>
    La cuisine libanaise fait partie de la cuisine levantine typique de la
    région du Levant ainsi que de quelques régions d’Irak, elle-même inspirée de
    la cuisine méditerranéenne, grecque, juive et arabe. La cuisine libanaise a
    connu un grand succès dans le monde grâce à la diaspora libanaise. Elle est
    composée principalement d’entrées appelées aussi « mezés » riches en légumes
    et en épices, ainsi que de grillades.
  </p>
</div>
